* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.calculator {
    width: 320px;
    background-color: black;
}

#display {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    text-align: right;
    font-size: 4rem;
    font-weight: 300;
    padding: 20px;
    border: none;
    outline: none;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background-color: black;
    border-top: 1px solid black;
}

button {
    width: 100%;
    height: 80px;
    border: none;
    border-radius: 0;
    font-size: 1.7rem;
    cursor: pointer;
    transition: opacity 0.2s;
}

button:active {
    opacity: 0.7;
}

.btn-num {
    background-color: #333333;
    color: white;
}

.btn-operator {
    background-color: #5144c7;
    color: white;
    font-size: 2rem;
}

.btn-top {
    background-color: gray;
    color: black;
    font-weight: 500;
}

.btn-zero {
    grid-column: span 2;
    text-align: left;
    padding-left: 30px;
}
